<div class="container">
  <h2>Student List</h2>

  <button routerLink="/add" class="add-btn">+ Add Student</button>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let s of students">
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.course }}</td>

        <td>
          <button class="edit-btn" [routerLink]="['/edit', s.id]">Edit</button>
          <button class="delete-btn" (click)="deleteStudent(s.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
